body {
    background-color: aliceblue;
}

h1 {
    color:blueviolet;
    height: 1%;
    padding:1% 2%;
    position:relative;
}

h2 {
    color: blue;
    height: 1%;
}

p {
    color: blue;
}

img #trainer{
    justify-content: center;
    /* not working yet figure it out tolu; */
}