<!DOCTYPE html>
<html>
    <head>
        <title>Individual Pokemon Template</title>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        
    </head>
    <body>
        <img id='trainer' alt="image of trainer" src="https://www.clipartkey.com/mpngs/m/62-629841_pokemon-ash-png-image-ash-ketchum.png" width="100" height="200">
        
        <button accesskey="b" onclick="window.location.reload();">New Pokemon</button> <!-- we need to make sure this just refreshes the page probably-->
        <table>
            <tr>
                <td><img  alt="image of pokemon" src="{{img_url0}}" width="100" height="100"></td>
                <td><img  alt="image of pokemon" src="{{img_url1}}" width="100" height="100"></td>
                <td><img  alt="image of pokemon" src="{{img_url2}}" width="100" height="100"></td>
                <td><img  alt="image of pokemon" src="{{img_url3}}" width="100" height="100"></td>
                <td><img  alt="image of pokemon" src="{{img_url4}}" width="100" height="100"></td>
                <td><img  alt="image of pokemon" src="{{img_url5}}" width="100" height="100"></td>
            </tr>
            <tr>
                <td><p>Name: {{name0}}</p></td>
                <td><p>Name: {{name1}}</p></td>
                <td><p>Name: {{name2}}</p></td>
                <td><p>Name: {{name3}}</p></td>
                <td><p>Name: {{name4}}</p></td>
                <td><p>Name: {{name5}}</p></td>
            </tr>
            <tr>
                <td><p>Weight: {{weight0}}</p></td>
                <td><p>Weight: {{weight1}}</p></td>
                <td><p>Weight: {{weight2}}</p></td>
                <td><p>Weight: {{weight3}}</p></td>
                <td><p>Weight: {{weight4}}</p></td>
                <td><p>Weight: {{weight5}}</p></td>
            </tr>

            <tr>
                <td><p>Height: {{height0}}</p></td>
                <td><p>Height: {{height1}}</p></td>
                <td><p>Height: {{height2}}</p></td>
                <td><p>Height: {{height3}}</p></td>
                <td><p>Height: {{height4}}</p></td>
                <td><p>Height: {{height5}}</p></td>
            </tr>
            <tr>
                <td><p>Nature: {{nature0}}</p></td>
                <td><p>Nature: {{nature1}}</p></td>
                <td><p>Nature: {{nature2}}</p></td>
                <td><p>Nature: {{nature3}}</p></td>
                <td><p>Nature: {{nature4}}</p></td>
                <td><p>Nature: {{nature5}}</p></td>
            </tr>
            <tr>
                <td><p>Type: {{type0}}</p></td>
                <td><p>Type: {{type1}}</p></td>
                <td><p>Type: {{type2}}</p></td>
                <td><p>Type: {{type3}}</p></td>
                <td><p>Type: {{type4}}</p></td>
                <td><p>Type: {{type5}}</p></td>
            </tr>


        </table>
    </body>
    <script src="main.js"></script>
</html>